<style>
    .dtp-bounding-box {
        border-radius: 5px;
        border: 1px solid lightgray;
        padding: 10px;
        width: 100%;
        height: fit-content;
        margin-top: 10px;
    }

    @keyframes spin {
        from {
            transform: scale(1) rotate(0deg);
        }
        to {
            transform: scale(1.1) rotate(360deg);
        }
    }
</style>

<div class="dtp-bounding-box">
    <div class="input-group" style="margin-bottom: 15px">
        <select [(ngModel)]="selectedConfiguration" [ngModelOptions]="{ standalone: true }" class="form-control">
            <option *ngFor="let conf of getSelectableConfigurations()" [ngValue]="conf">{{ conf.name }}</option>
        </select>
        <span class="input-group-btn">
            <button
                *ngIf="canRunConfiguration"
                type="button"
                (click)="startExecution(selectedConfiguration)"
                class="btn btn-success"
                [disabled]="!canRunConfiguration"
                title="Start execution"
            >
                <span class="glyphicon glyphicon-play-circle"></span>
                Run
            </button>

            <button *ngIf="!canRunConfiguration" type="button" class="btn btn-default" [disabled]="!canRunConfiguration" title="Disabled">
                <span class="glyphicon glyphicon-play-circle"></span>
                Run
            </button>
        </span>
    </div>

    <div class="form-horizontal">
        <div class="constraint-container">
            <div
                class="panel panel-default constraint-panel"
                *ngFor="let executingConfiguration of executingConfigurationToStatus | keyvalue"
            >
                <div class="panel-heading btn-panel-heading">
                    <button class="btn btn-danger pull-right" title="Stop execution" (click)="stopExecution(executingConfiguration.key)">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <h4 class="panel-title pull-left" style="padding-top: 7.5px; padding-left: 7.5px">
                        {{ executingConfiguration.key.name }}
                    </h4>
                </div>

                <div class="panel-body">
                    <form>
                        <!-- <div class="form-row align-items-center">
                            <div class="col-sm-auto">
                                <span class="glyphicon glyphicon-refresh spinning"></span>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Configuration status: </label>
                            <div class="col-sm-auto">
                                <p *ngIf="executingConfiguration.value.length == 0" class="form-control-static">Starting execution</p>
                                <p *ngIf="executingConfiguration.value.length > 0" class="form-control-static">Executing</p>
                            </div>
                        </div>

                        <hr />

                        <div *ngFor="let status of executingConfiguration.value">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ status.componentId }}:</label>
                                <div class="col-sm-auto">
                                    <p class="form-control-static">{{ status.status }}</p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
