<div *ngIf="parseError">
	<div class="alert alert-danger alert-big">
		<p>Error: Could not parse config.</p>
		<p>Message: {{parseError}}</p>
		<p>Path: {{path}}</p>
	</div>
</div>

<form *ngIf="config" [formGroup]="form" (ngSubmit)="onSubmit()" #configForm="ngForm">
	<button *ngIf="!editing" class="btn btn-default" (click)="editing = true">
		<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
	</button>
	<button *ngIf="editing" class="btn btn-default" [disabled]="!configForm.form.valid">
		<span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Save
	</button>


	<h4>FMUs
		<button *ngIf="editing" type="button" (click)="addFmu()" class="btn btn-default btn-xs">
			<span class="glyphicon glyphicon-plus"></span>
		</button>
	</h4>

	<div class="row">
		<div class="col-md-3">
			<label>Keys</label>
		</div>
		<div class="col-md-8">
			<label>Paths</label>
		</div>
	</div>

	<div class="row" *ngFor="let fmu of config.fmus; let i=index">
		<div class="col-md-3 form-group">
			<p *ngIf="!editing" class="form-control-static">{{getFmuName(fmu)}}</p>
			<input *ngIf="editing" [formControl]="form.find('fmus').at(i)" [ngModel]="getFmuName(fmu)" (ngModelChange)="setFmuName(fmu, $event)"
			 class="form-control input-fixed-size input-sm">
			<div *ngIf="form.find('fmus').at(i).hasError('required')" class="alert alert-danger">This field is required.</div>
			<div *ngIf="form.find('fmus').at(i).hasError('pattern')" class="alert alert-danger">"{" and "}" are not allowed.</div>
			<div *ngIf="form.hasError('notUnique', 'fmus') && form.find('fmus').errors.notUnique == getFmuName(fmu)" class="alert alert-danger">Key is not unique.</div>
		</div>
		<div class="col-md-8 form-group">
			<p *ngIf="!editing" class="form-control-static">{{createDisplayFmuPath(config.fmusRootPath,fmu.path)}}</p>
			<file-browser *ngIf="editing" [basePath]="config.fmusRootPath" [path]="fmu.path" (pathChange)="setFmuPath(fmu, $event)"></file-browser>
			<div *ngIf="fmu.path && fmu.pathNotFound" class="alert alert-danger">Path not found.</div>
			<span *ngIf="!fmu.pathNotFound && !fmu.isSupported()" title="This FMU is only supported on {{fmu.platforms.join(', ')}}."
			 class="label label-danger">Not supported</span>
			<span *ngIf="fmu.isSupported()" title="This FMU is supported on {{fmu.platforms.join(', ')}}." class="label label-success">Supported</span>
		</div>
		<div class="col-md-1 form-group">
			<button *ngIf="editing" type="button" (click)="removeFmu(fmu)" class="btn btn-default btn-sm">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
		</div>
	</div>

	<hr>

	<h4>FMU instances</h4>

	<div class="row">
		<div class="col-md-6">
			<label>FMU</label>

			<ul class="list-group">
				<a *ngFor="let fmu of config.fmus" (click)="selectInstanceFmu(fmu)" [class.active]="selectedInstanceFmu === fmu" class="list-group-item">{{fmu.name}}</a>
			</ul>
		</div>
		<div class="col-md-6">
			<label>Instances
				<button *ngIf="editing" type="button" [disabled]="!selectedInstanceFmu" (click)="addInstance(selectedInstanceFmu)"
				 class="btn btn-default btn-xs">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</label>

			<div *ngIf="selectedInstanceFmu">
				<div *ngFor="let instance of getInstances(selectedInstanceFmu); let i=index">
					<p *ngIf="!editing" class="form-control-static">{{instance.name}}</p>
					<div *ngIf="editing" class="input-group">
						<input [formControl]="getInstanceFormControl(selectedInstanceFmu, i)" [(ngModel)]="instance.name" class="form-control input-sm">
						<span class="input-group-btn">
							<button type="button" (click)="removeInstance(instance)" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</span>
					</div>
					<div *ngIf="getInstanceFormControl(selectedInstanceFmu, i).hasError('required')" class="alert alert-danger">This field is required.</div>
					<div *ngIf="getInstanceFormControl(selectedInstanceFmu, i).hasError('pattern')" class="alert alert-danger">"." is not allowed.</div>
					<div *ngIf="getInstanceFormControl(selectedInstanceFmu, i)._parent.hasError('notUnique') && getInstanceFormControl(selectedInstanceFmu, i)._parent.errors.notUnique == instance.name"
					 class="alert alert-danger">Key is not unique.</div>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<h4>Connections</h4>

	<div class="row">
		<div class="col-md-3">
			<h5>
				<label>Output instance</label>
			</h5>

			<ul class="list-group">
				<a *ngFor="let instance of config.fmuInstances" (click)="selectOutputInstance(instance)" [class.active]="selectedOutputInstance === instance"
				 class="list-group-item">{{instance.fmu.name}}.{{instance.name}}</a>
			</ul>
		</div>

		<div class="col-md-3">
			<h5>
				<label>Output variable</label>
			</h5>

			<ul *ngIf="selectedOutputInstance" class="list-group">
				<a *ngFor="let output of getOutputs()" (click)="selectOutput(output)" [class.active]="selectedOutput === output" class="list-group-item">
					<span *ngIf="!output.isConfirmed" class="glyphicon glyphicon-info-sign pull-right" style="color: red" title="Variable is unconfirmed"></span> {{output.name}}
				</a>
			</ul>
		</div>

		<div class="col-md-3">
			<h5>
				<label>Input instance</label>
			</h5>

			<ul *ngIf="selectedOutput" class="list-group">
				<a *ngFor="let instance of config.fmuInstances" (click)="selectInputInstance(instance)" [class.active]="selectedInputInstance === instance"
				 class="list-group-item">{{instance.fmu.name}}.{{instance.name}}</a>
			</ul>
		</div>

		<div class="col-md-3">
			<h5>
				<label>Input variable</label>
			</h5>

			<ul *ngIf="selectedInputInstance" class="list-group">
				<label *ngFor="let input of getInputs()" class="list-group-item">
					<span *ngIf="!input.isConfirmed" class="glyphicon glyphicon-info-sign pull-right" style="color: red" title="Variable is unconfirmed"></span>
					<input type="checkbox" [disabled]="!editing" [checked]="isInputConnected(input)" (change)="onConnectionChange($event.target.checked, input)"> {{input.name}}
				</label>
			</ul>
		</div>
	</div>

	<hr>

	<h4>Initial values of parameters</h4>

	<div class="row">
		<div class="col-md-3">
			<h5>
				<label>Instance</label>
			</h5>

			<ul class="list-group">
				<a *ngFor="let instance of config.fmuInstances" (click)="selectParameterInstance(instance)" [class.active]="selectedParameterInstance === instance"
				 class="list-group-item">{{instance.fmu.name}}.{{instance.name}}</a>
			</ul>
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-6">
					<h5>
						<label>Parameters</label>
					</h5>
				</div>
				<div *ngIf="selectedParameterInstance && editing" class="col-md-6">
					<div class="input-group">
						<select class="form-control input-sm" [(ngModel)]="newParameter" [ngModelOptions]="{standalone: true}">
							<option *ngFor="let parameter of getParameters(); let i=index" [ngValue]="parameter">{{parameter.name}}</option>
						</select>
						<span class="input-group-btn">
							<button type="button" (click)="addParameter()" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-plus"></span> Add
							</button>
						</span>
					</div>
				</div>
			</div>

			<div *ngIf="selectedParameterInstance">
				<div *ngFor="let initialValue of getInitialValues(); let i=index" class="row">
					<div class="col-md-2">
						<p class="form-control-static">
							<span class="label label-info">{{getScalarTypeName(initialValue.scalarVariable.type)}}</span> {{initialValue.scalarVariable.name}}
							<span *ngIf="!initialValue.scalarVariable.isConfirmed" class="glyphicon glyphicon-info-sign pull-right" style="color: red"
							 title="Variable is unconfirmed"></span>
						</p>
					</div>
					<div class="col-md-10">
						<p *ngIf="!editing" class="form-control-static">{{initialValue.value}}</p>
						<div *ngIf="editing" class="input-group">

							<input *ngIf="!isTypeBool(initialValue.scalarVariable.type)" [value]="initialValue.value" (change)="setParameter(initialValue.scalarVariable, $event.target.value)"
							 class="form-control input-sm">

							<input type="checkbox" *ngIf="isTypeBool(initialValue.scalarVariable.type)" [checked]="initialValue.value" (change)="setParameter(initialValue.scalarVariable, $event.target.checked)">

							<span class="input-group-btn">
								<button type="button" (click)="removeParameter(selectedParameterInstance, initialValue.scalarVariable)" class="btn btn-default btn-sm">
									<span class="glyphicon glyphicon-remove"></span>
								</button>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<div *ngIf="warnings.length > 0">
		<strong>Please fix the following issues before saving:</strong>
		<div *ngIf="getErrors().length>0">
			<div *ngFor="let error of getErrors()" class="alert alert-danger alert-big">{{error.message}}</div>
		</div>
		<div *ngIf="getWarnings().length>0">
			<div *ngFor="let warning of getWarnings()" class="alert alert-warning alert-big">{{warning.message}}</div>
		</div>
		<hr>
	</div>

	<button *ngIf="!editing" class="btn btn-default" (click)="editing = true">
		<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
	</button>
	<button *ngIf="editing" class="btn btn-default" [disabled]="!configForm.form.valid">
		<span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Save
	</button>
</form>