<div class="row">
    <div class="col-md-6">
        <label>Outputs</label>
    </div>
    <div class="col-md-6">
        <label>Inputs</label>
    </div>
</div>

<div *ngIf="config">
    <div *ngFor="let output of getOutputs()" class="row">
        <hr>

        <div class="col-md-6">
            <h5>{{output.name}}</h5>
        </div>
        <div class="col-md-6">
            <div *ngFor="let connection of output.connections">
                {{connection.instance.fmu.name}}.{{connection.instance.name}}.{{connection.scalarVariable.name}}
            </div>
        </div>
    </div>

    <hr>

    <div *ngIf="warnings.length > 0">
        <strong>Please fix the following issues before saving:</strong>
        <div *ngIf="getErrors().length>0">
            <div *ngFor="let error of getErrors()" class="alert alert-danger alert-big">{{error.message}}</div>
        </div>
        <div *ngIf="getWarnings().length>0">
            <div *ngFor="let warning of getWarnings()" class="alert alert-warning alert-big">{{warning.message}}</div>
        </div>
        <hr>
    </div>
</div>