
.into-cps-icon-projbrowser-overture {
  background: url("icons/overture-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.into-cps-icon-projbrowser-openmodelica {
  background: url("icons/open-modelica-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.into-cps-icon-projbrowser-20sim {
  background: url("icons/20-sim-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.into-cps-icon-projbrowser-rtt {
  background: url("icons/verified-rtt-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.into-cps-icon-projbrowser-modelio {
  background: url("icons/modelio-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.into-cps-icon-projbrowser-multimodel {
  background: url("icons/multimodel-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.into-cps-icon-projbrowser-result {
  background: url("icons/result-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.into-cps-icon-projbrowser-config {
  background: url("icons/configuration-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.into-cps-icon-projbrowser-dse {
  background: url("icons/dse-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.into-cps-icon-projbrowser-dse-result {
  background: url("icons/dse-result-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
}