<div *ngIf="!online" class="alert alert-danger">
    Co-Simulation Engine offline. No connection at {{ coeSimulationService.coeUrl }}.
    <button type="button" class="btn btn-sm btn-default" (click)="onCoeLaunchClick()">
      <span class="glyphicon glyphicon-link"></span> Launch
    </button>
  </div>
  <div *ngIf="online && correctCoeVersion" class="alert alert-success">
    {{coeVersions[coeSimulationService.getMaestroVersion()]}}, version {{ coeSimulationService.coeVersionNumber }}, online at {{ coeSimulationService.coeUrl }}.
  </div>
  <div *ngIf="online && !correctCoeVersion" class="alert alert-warning">
    {{coeVersions[required_coe_version]}} is required!!
    {{coeVersions[coeSimulationService.getMaestroVersion()]}}, version {{ coeSimulationService.coeVersionNumber }}, is online at {{ coeSimulationService.coeUrl }}.
  </div>