<div *ngIf="parseError">
	<div class="alert alert-danger alert-big">
		<p>Error: Could not parse config.</p>
		<p>Message: {{parseError}}</p>
		<p>Path: {{path}}</p>
	</div>
</div>

<form *ngIf="config" [formGroup]="form" (ngSubmit)="onSubmit()" #configForm="ngForm">

	<button *ngIf="!editing" class="btn btn-default" (click)="editing = true">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
  </button>
	<button *ngIf="editing" class="btn btn-default" [disabled]="!configForm.form.valid">
    <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Save
  </button>

	<div class="form-horizontal">

		<div class="panel-group" id="accordion">

			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#basic-collapse1">
							Basic Configuration</a>
					</h4>
				</div>
				<div id="basic-collapse1" class="panel-collapse collapse in">

					<div class="form-group">
						<label class="col-sm-5 col-md-4 control-label">Start time</label>
						<div class="col-sm-7 col-md-8">
							<p *ngIf="!editing" class="form-control-static">{{config.startTime}}</p>
							<input *ngIf="editing" name="startTime" [(ngModel)]="config.startTime" class="form-control">
							<div *ngIf="form.hasError('required', 'startTime')" class="alert alert-danger">This field is required.</div>
							<div *ngIf="form.hasError('invalidNumber', 'startTime')" class="alert alert-danger">Only numbers are allowed.</div>
							<div *ngIf="form.hasError('notLessThan')" class="alert alert-danger">Start time is after end time.</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-5 col-md-4 control-label">End time</label>
						<div class="col-sm-7 col-md-8">
							<p *ngIf="!editing" class="form-control-static">{{config.endTime}}</p>
							<input *ngIf="editing" name="endTime" [(ngModel)]="config.endTime" class="form-control">
							<div *ngIf="form.hasError('required', 'endTime')" class="alert alert-danger">This field is required.</div>
							<div *ngIf="form.hasError('invalidNumber', 'endTime')" class="alert alert-danger">Only numbers are allowed.</div>
							<div *ngIf="form.hasError('notLessThan')" class="alert alert-danger">End time is before start time.</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-5 col-md-4 control-label">Algorithm</label>
						<div class="col-sm-7 col-md-8">
							<p *ngIf="!editing" class="form-control-static">{{config.algorithm.name}}</p>
							<select *ngIf="editing" [ngModel]="config.algorithm" (ngModelChange)="onAlgorithmChange($event)" [ngModelOptions]="{standalone:true}"
							 class="form-control">
										<option *ngFor="let algorithm of algorithms" [ngValue]="algorithm">{{algorithm.name}}</option>
									</select>
						</div>
					</div>


					<hr>

					<div *ngIf="config.algorithm.name == 'Fixed Step'" [formGroup]="form.find('algorithm')">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-5 col-md-4 control-label">Step size</label>
								<div class="col-sm-7 col-md-8">
									<p *ngIf="!editing" class="form-control-static">{{config.algorithm.size}}</p>
									<input *ngIf="editing" name="size" [(ngModel)]="config.algorithm.size" class="form-control">
									<div *ngIf="form.find('algorithm').hasError('required', 'size')" class="alert alert-danger">This field is required.</div>
									<div *ngIf="form.find('algorithm').hasError('invalidNumber', 'size')" class="alert alert-danger">Only numbers are allowed.</div>
								</div>
							</div>
						</div>
					</div>

					<div *ngIf="config.algorithm.name == 'Variable Step'" [formGroup]="form.find('algorithm')">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-5 col-md-4 control-label">Initial step size</label>
								<div class="col-sm-7 col-md-8">
									<p *ngIf="!editing" class="form-control-static">{{config.algorithm.initSize}}</p>
									<input *ngIf="editing" name="initSize" [(ngModel)]="config.algorithm.initSize" class="form-control">
									<div *ngIf="form.find('algorithm').hasError('required', 'initSize')" class="alert alert-danger">This field is required.</div>
									<div *ngIf="form.find('algorithm').hasError('invalidNumber', 'initSize')" class="alert alert-danger">Only numbers are allowed.</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-5 col-md-4 control-label">Minimum step size</label>
								<div class="col-sm-7 col-md-8">
									<p *ngIf="!editing" class="form-control-static">{{config.algorithm.sizeMin}}</p>
									<input *ngIf="editing" name="sizeMin" [(ngModel)]="config.algorithm.sizeMin" class="form-control">
									<div *ngIf="form.find('algorithm').hasError('required', 'sizeMin')" class="alert alert-danger">This field is required.</div>
									<div *ngIf="form.find('algorithm').hasError('invalidNumber', 'sizeMin')" class="alert alert-danger">Only numbers are allowed.</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-5 col-md-4 control-label">Maximum step size</label>
								<div class="col-sm-7 col-md-8">
									<p *ngIf="!editing" class="form-control-static">{{config.algorithm.sizeMax}}</p>
									<input *ngIf="editing" name="sizeMax" [(ngModel)]="config.algorithm.sizeMax" class="form-control">
									<div *ngIf="form.find('algorithm').hasError('required', 'sizeMax')" class="alert alert-danger">This field is required.</div>
									<div *ngIf="form.find('algorithm').hasError('invalidNumber', 'sizeMax')" class="alert alert-danger">Only numbers are allowed.</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-5 col-md-4 control-label">Constraints</label>
								<div class="col-sm-7 col-md-8">
									<div *ngIf="editing" class="input-group">
										<select [(ngModel)]="newConstraint" [ngModelOptions]="{standalone:true}" class="form-control">
														<option *ngFor="let constraint of constraintConstructors" [ngValue]="constraint">{{getConstraintName(constraint)}}</option>
													</select>
										<span class="input-group-btn">
														<button type="button" (click)="addConstraint(newConstraint.value)" class="btn btn-default">
															<span class="glyphicon glyphicon-plus"></span> Add
										</button>
										</span>
									</div>
								</div>
							</div>
						</div>

						<div class="constraint-container">
							<div class="panel panel-default constraint-panel" *ngFor="let constraint of config.algorithm.constraints; let i = index">
								<div class="panel-heading">
									<a *ngIf="editing" (click)="removeConstraint(constraint)" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>									{{getConstraintName(constraint)}}
								</div>
								<div class="panel-body">
									<zero-crossing [editing]="editing" [ports]="getFilterTypes(outputPorts,[ Fmu_x.ScalarVariableType.Int,	Fmu_x.ScalarVariableType.Real])" [constraint]="constraint" [formGroup]="form.find('algorithm').find('constraints').at(i)"
									 *ngIf="constraint.type === 'zerocrossing'"></zero-crossing>

									<bounded-difference [editing]="editing" [ports]="getFilterTypes(outputPorts,[ Fmu_x.ScalarVariableType.Int,	Fmu_x.ScalarVariableType.Real])" [constraint]="constraint" [formGroup]="form.find('algorithm').find('constraints').at(i)"
									 *ngIf="constraint.type === 'boundeddifference'"></bounded-difference>

									<sampling-rate [editing]="editing" [constraint]="constraint" [formGroup]="form.find('algorithm').find('constraints').at(i)"
									 *ngIf="constraint.type === 'samplingrate'"></sampling-rate>

									<fmu-max-step-size [constraint]="constraint" [formGroup]="form.find('algorithm').find('constraints').at(i)" *ngIf="constraint.type === 'fmumaxstepsize'">
									</fmu-max-step-size>
								</div>
							</div>
						</div>
					</div>

					<hr>


				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#visibility-collapse1">
							Visibility</a>
					</h4>
				</div>
				<div id="visibility-collapse1" class="panel-collapse collapse">
					<div class="form-group">
						<label class="col-sm-5 col-md-4 control-label">Visible</label>
						<div class="col-sm-7 col-md-8">
							<p *ngIf="!editing" class="form-control-static">{{config.visible}}</p>
							<input *ngIf="editing" type="checkbox" [disabled]="!editing" name="fmu-visible" class="form-control" [checked]="config.visible"
							 (change)="config.visible=$event.target.checked" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-5 col-md-4 control-label">Logging on</label>
						<div class="col-sm-7 col-md-8">
							<p *ngIf="!editing" class="form-control-static">{{config.loggingOn}}</p>
							<input *ngIf="editing" type="checkbox" [disabled]="!editing" name="fmu-visible" class="form-control" [checked]="config.loggingOn"
							 (change)="config.loggingOn=$event.target.checked" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-5 col-md-4 control-label">Enable All log categories per instance</label>
						<div class="col-sm-7 col-md-8">
							<p *ngIf="!editing" class="form-control-static">{{config.enableAllLogCategoriesPerInstance}}</p>
							<input *ngIf="editing" type="checkbox" [disabled]="!editing" name="enableAllLogCategoriesPerInstance" class="form-control"
							 [checked]="config.enableAllLogCategoriesPerInstance" (change)="config.enableAllLogCategoriesPerInstance=$event.target.checked"
							/>
						</div>
					</div>


					<div class="form-group">
						<label class="col-sm-5 col-md-4 control-label">Global COE log level override</label>
						<div class="col-sm-7 col-md-8">
							<p *ngIf="!editing" class="form-control-static">{{config.overrideLogLevel}}</p>
							<select *ngIf="editing" [ngModel]="config.overrideLogLevel" (ngModelChange)="config.overrideLogLevel=$event" [ngModelOptions]="{standalone:true}"
							 class="form-control">
										<option *ngFor="let name of loglevels" [ngValue]="name">{{name}}</option>
									</select>
						</div>
					</div>


				</div>
			</div>



			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#stabilization-collapse">
										Stabilization</a>
					</h4>
				</div>
				<div id="stabilization-collapse" class="panel-collapse collapse">
					<div class="form-group">
						<label class="col-sm-5 col-md-4 control-label">Stabilization (successive substitution)</label>
						<div class="col-sm-7 col-md-8">
							<p *ngIf="!editing" class="form-control-static">{{config.stabalization}}</p>
							<input *ngIf="editing" type="checkbox" [disabled]="!editing" name="fmu-visible" class="form-control" [checked]="config.stabalization"
							 (change)="config.stabalization=$event.target.checked" />
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-5 col-md-4 control-label">Global Absolute Tolerance</label>
						<div class="col-sm-7 col-md-8">
							<p *ngIf="!editing" class="form-control-static">{{config.global_absolute_tolerance}}</p>
							<input *ngIf="editing" name="global_absolute_tolerance" [(ngModel)]="config.global_absolute_tolerance" class="form-control">
							<div *ngIf="form.hasError('required', 'global_absolute_tolerance')" class="alert alert-danger">This field is required.</div>
							<div *ngIf="form.hasError('invalidNumber', 'global_absolute_tolerance')" class="alert alert-danger">Only numbers are allowed.</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-5 col-md-4 control-label">Global Relative Tolerance</label>
						<div class="col-sm-7 col-md-8">
							<p *ngIf="!editing" class="form-control-static">{{config.global_relative_tolerance}}</p>
							<input *ngIf="editing" name="global_relative_tolerance" [(ngModel)]="config.global_relative_tolerance" class="form-control">
							<div *ngIf="form.hasError('required', 'global_relative_tolerance')" class="alert alert-danger">This field is required.</div>
							<div *ngIf="form.hasError('invalidNumber', 'global_relative_tolerance')" class="alert alert-danger">Only numbers are allowed.</div>
						</div>
					</div>

				</div>
			</div>


			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#live-collapse">
									Live Plotting</a>
					</h4>
				</div>
				<div id="live-collapse" class="panel-collapse collapse">
					<div class="form-group">
						<label class="col-sm-5 col-md-4 control-label config">Graph sampling interval (0[s]=allways)</label>
						<div class="col-sm-7 col-md-8 form-group">
							<p *ngIf="!editing" class="form-control-static">{{config.livestreamInterval}}</p>
							<input *ngIf="editing" name="livestreamInterval" [(ngModel)]="config.livestreamInterval" class="form-control">
							<div *ngIf="form.hasError('required', 'livestreamInterval')" class="alert alert-danger">This field is required.</div>
							<div *ngIf="form.hasError('invalidNumber', 'livestreamInterval')" class="alert alert-danger">Only numbers are allowed.</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-5 col-md-4 control-label config">Number of graph columns</label>
						<div class="col-sm-7 col-md-8 form-group">
							<p *ngIf="!editing" class="form-control-static">{{config.liveGraphColumns}}</p>
							<input *ngIf="editing" name="liveGraphColumns" [(ngModel)]="config.liveGraphColumns" class="form-control">
							<div *ngIf="form.hasError('required', 'liveGraphColumns')" class="alert alert-danger">This field is required.</div>
							<div *ngIf="form.hasError('invalidNumber', 'liveGraphColumns')" class="alert alert-danger">Only numbers are allowed.</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-5 col-md-4 control-label config">Number of visible graph rows. The graphs will scale such that the given number of rows will be visible without scrolling.</label>
						<div class="col-sm-7 col-md-8 form-group">
							<p *ngIf="!editing" class="form-control-static">{{config.liveGraphVisibleRowCount}}</p>
							<input *ngIf="editing" name="liveGraphVisibleRowCount" [(ngModel)]="config.liveGraphVisibleRowCount" class="form-control">
							<div *ngIf="form.hasError('required', 'liveGraphVisibleRowCount')" class="alert alert-danger">This field is required.</div>
							<div *ngIf="form.hasError('invalidNumber', 'liveGraphVisibleRowCount')" class="alert alert-danger">Only numbers are allowed.</div>
						</div>
					</div>

					<hr>

					<span style="padding-left:10px" class="input-group-btn">
					<button type="button" *ngIf="editing" (click)="addLiveGraph()" class="btn btn-default">
							<span class="glyphicon glyphicon-plus"></span> Add Graph
					</button>
                    </span><br>
					<div class="constraint-container">
						<div class="panel panel-default constraint-panel" *ngFor="let g of config.liveGraphs; let i = index">
							<div class="panel-heading">
								<a *ngIf="editing" (click)="removeGraph(g)" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>									Graph Variables
							</div>
							<div class="panel-body">
								<live-graph [graph]="g" [formGroup]="form.find('liveGraphs').at(i)" [config]="config" [editing]="editing">
								</live-graph>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#logVariables-collapse">
										Results Saving</a>
					</h4>
				</div>
				<div id="logVariables-collapse" class="panel-collapse collapse">


					<label style="padding-left:10px">Additional variables to save</label> 
                    <br>
                    <p style="padding-left:10px"><small>All connected outputs are saved by default.</small></p>
                    <hr>
					<div class="form-forizontal">


						<div *ngIf="editing" class="form-group">
							<label class="col-sm-5 col-md-4 control-label" style="text-align: right">Filter</label>
							<div class="col-sm-7 col-md-8 form-group">
								<input #box (keyup)="onLogVariablesKey($event)" class="form-control">
							</div>
						</div>

						<div class="form-group">
							<div class="form-horizontal">
								<div class="form-group" *ngFor="let instance of config.multiModel.fmuInstances">
									<label class="col-sm-5 col-md-4 control-label">{{instance.fmu.name}}.{{instance.name}}</label>
									<div class="col-sm-7 col-md-8">
										<div *ngFor="let output of (editing ? getOutputs(instance.fmu.scalarVariables) : restrictToCheckedLogVariables(instance,getOutputs(instance.fmu.scalarVariables)) )">

											<div class="checkbox" *ngIf="output.name.includes(logVariablesSearchName)">
												<label>
																									<input type="checkbox"
																												 [disabled]="!editing"
																												 [checked]="isLogVariableChecked(instance, output)"
																												 (change)="onLogVariableChange($event.target.checked, instance, output)">
							
																										<span *ngIf="isLocal(output)" class="text-warning" style="color:#f0ad4e!important" title="Name: {{output.name}}, Causality: {{output.causality}}, Type: {{getScalarVariableTypeName(output.type)}}">{{output.name}}</span>
																										<span *ngIf="!isLocal(output)" title="Name: {{output.name}}, Causality: {{output.causality}}, Type: {{getScalarVariableTypeName(output.type)}}">{{output.name}}</span>
																								</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#others-collapse">
										Others</a>
					</h4>
				</div>
				<div id="others-collapse" class="panel-collapse collapse">
					<div class="form-group">
						<label class="col-sm-5 col-md-4 control-label">Slowdown simulation to real-time</label>
						<div class="col-sm-7 col-md-8">
							<p *ngIf="!editing" class="form-control-static">{{config.simulationProgramDelay}}</p>
							<input *ngIf="editing" type="checkbox" [disabled]="!editing" name="fmu-visible" class="form-control" [checked]="config.simulationProgramDelay"
							 (change)="config.simulationProgramDelay=$event.target.checked" />
						</div>
					</div>
					<hr>

					<div class="form-group">
						<label class="col-sm-5 col-md-4 control-label">Use parallelization</label>
						<div class="col-sm-7 col-md-8">
							<p *ngIf="!editing" class="form-control-static">{{config.parallelSimulation}}</p>
							<input *ngIf="editing" type="checkbox" [disabled]="!editing" name="fmu-visible" class="form-control" [checked]="config.parallelSimulation"
							 (change)="config.parallelSimulation=$event.target.checked" />
						</div>
					</div>


				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#post-collapse">
								Post-Processing</a>
					</h4>
				</div>
				<div id="post-collapse" class="panel-collapse collapse">
					<div class="form-group">
						<label class="col-sm-5 col-md-4 control-label">Post-processing script ($1=*.csv, $2=total time)</label>
						<div class="col-sm-7 col-md-8">
							<p *ngIf="!editing" class="form-control-static">{{config.postProcessingScript}}</p>
							<file-browser *ngIf="editing" [basePath]="path" [path]="config.postProcessingScript" (pathChange)="setPostProcessingScript(config,$event)"></file-browser>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




	<hr>

	<div *ngIf="warnings.length > 0">
		<strong>Please fix the following issues before saving.</strong>
		<div *ngFor="let warning of warnings" class="alert alert-warning alert-big">{{warning.message}}</div>
		<hr>
	</div>

	<button *ngIf="!editing" class="btn btn-default" (click)="editing = true">
			<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
		</button>
	<button *ngIf="editing" class="btn btn-default" [disabled]="!configForm.form.valid">
			<span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Save
		</button>
</form>
