<div class="form-horizontal" [formGroup]="formGroup">
    <div class="form-group">
        <label class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
            <p *ngIf="!editing" class="form-control-static">{{datarepeater.name}}</p>
            <input *ngIf="editing" [(ngModel)]="datarepeater.name"  formControlName="name" class="form-control">
            <div *ngIf="formGroup.hasError('required', 'name')" class="alert alert-danger">This field is required.</div>
            <div *ngIf="formGroup._parent.hasError('notUnique') && formGroup._parent.errors.notUnique === datarepeater.name" class="alert alert-danger">Name is not unique.</div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Server Source</label>
        <div class="col-sm-9">
            <select *ngIf="editing" [(ngModel)]="datarepeater.server_source" [ngModelOptions]="{standalone:true}" class="form-control col-sm-9">
                <option *ngFor="let server of config.servers" [ngValue]="server.id">{{server.id}}</option>
            </select>
            <p *ngIf="!editing" class="form-control-static">{{datarepeater.server_source}}</p>
        </div>
    </div>
    

    <div class="form-group">
        <label class="col-sm-3 control-label">Server Target</label>
        <div class="col-sm-9">
            <select *ngIf="editing" [(ngModel)]="datarepeater.server_target" [ngModelOptions]="{standalone:true}" class="form-control col-sm-9">
                <option *ngFor="let server of config.servers" [ngValue]="server.id">{{server.id}}</option>
            </select>
            <p *ngIf="!editing" class="form-control-static">{{datarepeater.server_target}}</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">RabbitMQ Tool</label>
        <div class="col-sm-9">
            <select *ngIf="editing" [(ngModel)]="datarepeater.tool" [ngModelOptions]="{standalone:true}" class="form-control col-sm-9">
                <option *ngFor="let toolName of rabbitMqNamesFromTools(config.tools)" [ngValue]="toolName">{{toolName}}</option>
            </select>
            <p *ngIf="!editing" class="form-control-static">{{datarepeater.tool}}</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">FMU Path </label>
        <div *ngIf="!datarepeater.fmu_path">
            <span class="input-group-btn">
                <button type="button" (click)="createFMU()" class="btn btn-default" [disabled] = "!isToolingServerOnline">
                    Create FMU
                </button>
            </span> 
        </div>
        <div *ngIf="datarepeater.fmu_path" class="col-sm-9">
            <p class="form-control-static">{{datarepeater.fmu_path}}</p>
        </div>
    </div>
   
    <panel id="signals" [title]="'Signals'" [open]="false">
        <div class="form-group" *ngIf="editing">
            <div class="col-sm-7 col-md-8">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" (click)="addNewSignal()" class="btn btn-default">
                            New signal 
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="constraint-container">
            <div class="panel panel-default constraint-panel" *ngFor="let signal of datarepeater.signals; let i = index">
                <div class="panel-heading btn-panel-heading">
                    <button class="btn btn-default btn-sm pull-right" title="Remove signal" (click)="removeSignal(signal)" *ngIf="editing">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <div class="panel-body">
                    <signal [signal]="signal" [editing] = "editing" [formGroup]="formGroup.get('signals').at(i)"></signal>			
                </div>
            </div>
        </div>
    </panel>
</div>