<div class="form-horizontal" [formGroup]="formGroup">
    <div class="form-group">
        <label class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
            <p *ngIf="!editing" class="form-control-static">{{dtptype.name}}</p>
            <input *ngIf="editing" [(ngModel)]="dtptype.name"  formControlName="name" class="form-control">
            <div *ngIf="formGroup.hasError('required', 'name')" class="alert alert-danger">This field is required.</div>
            <div *ngIf="formGroup._parent.hasError('notUnique') && formGroup._parent.errors.notUnique === dtptype.name" class="alert alert-danger">Name is not unique.</div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Server Source</label>
        <div class="col-sm-9">
            <p *ngIf="!editing" class="form-control-static">{{dtptype.server_source}}</p>
            <input *ngIf="editing" [(ngModel)]="dtptype.server_source"  formControlName="server_source" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Server Target</label>
        <div class="col-sm-9">
            <p *ngIf="!editing" class="form-control-static">{{dtptype.server_target}}</p>
            <input *ngIf="editing" [(ngModel)]="dtptype.server_target"  formControlName="server_target" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">
            Signals
        </label>
        <div *ngIf="editing && showSelectGroup" class="input-group">
            <select [(ngModel)]="selectedSignal" [ngModelOptions]="{standalone: true}" class="form-control">
                <option *ngFor="let signalName of getRemaningSignalsNames()" [value]="signalName">{{signalName}}</option>
            </select>
            <span class="input-group-btn">
                <button type="button" (click)="addSignal()" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </span>    
        </div>
        <div class="col-sm-9" *ngFor="let signal of dtptype.signals">
            <div class="col-sm-9">
                <p *ngIf="!editing" class="form-control-static">{{signal.name}}</p>
                <div *ngIf="editing" class="input-group">
                    <p class="form-control">{{signal.name}}</p>
                    <span class="input-group-btn">
                        <button type="button" (click)="removeSignal(signal)" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </div>
            
        </div>
    </div>
</div>