<style>
    .glyphicon.spinning {
        animation: spin 2s infinite linear;
    }
    @keyframes spin {
        from {
            transform: scale(1) rotate(0deg);
        }
        to {
            transform: scale(1.1) rotate(360deg);
        }
    }
</style>

<div class="form-horizontal" [formGroup]="formGroup">
    <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <p *ngIf="!editing" class="form-control-static">{{ datarepeater.name }}</p>
            <input *ngIf="editing" (change)="onChangeName($event.target.value)" formControlName="name" class="form-control" />
            <p *ngIf="formGroup.hasError('required', 'name')" class="text-warning">* This field is required.</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Server Source</label>
        <div class="col-sm-10">
            <select
                *ngIf="editing"
                class="form-control"
                (change)="onChangeServerSource($event.target.value)"
                formControlName="server_source"
            >
                <option *ngFor="let server of config.servers" [ngValue]="server.id">{{ server.name }}</option>
            </select>
            <p *ngIf="!editing" class="form-control-static">{{ serverIdToName(datarepeater.server_source) }}</p>
            <p *ngIf="formGroup.hasError('required', 'server_source')" class="text-warning">* This field is required.</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Server Target</label>
        <div class="col-sm-10">
            <select
                *ngIf="editing"
                class="form-control"
                (change)="onChangeServerTarget($event.target.value)"
                formControlName="server_target"
            >
                <option *ngFor="let server of config.servers" [ngValue]="server.id">{{ server.name }}</option>
            </select>
            <p *ngIf="!editing" class="form-control-static">{{ serverIdToName(datarepeater.server_target) }}</p>
            <p *ngIf="formGroup.hasError('required', 'server_target')" class="text-warning">* This field is required.</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">RabbitMQ Tool</label>
        <div class="col-sm-10">
            <select *ngIf="editing" class="form-control" (change)="onChangeTool($event.target.value)" formControlName="tool">
                <option *ngFor="let rabbitMqTool of getRabbitMqTools(config.tools)" [ngValue]="rabbitMqTool.id">
                    {{ rabbitMqTool.name }}
                </option>
            </select>
            <p *ngIf="!editing" class="form-control-static">{{ toolIdToName(datarepeater.tool) }}</p>
            <p *ngIf="formGroup.hasError('required', 'tool')" class="text-warning">* This field is required.</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">FMU Path </label>
        <div *ngIf="!datarepeater.fmu_path" class="col-sm-10">
            <div class="input-group">
                <button
                    type="button"
                    (click)="generateFMU()"
                    class="btn btn-default"
                    [disabled]="!isToolingServerOnline || isCreatingFMU || !formGroup.valid"
                >
                    <span *ngIf="!isCreatingFMU"> Generate FMU </span>
                    <span *ngIf="isCreatingFMU"> Generating.. </span>
                    <span *ngIf="isCreatingFMU" class="glyphicon glyphicon-refresh spinning"> </span>
                </button>
            </div>
        </div>
        <div *ngIf="datarepeater.fmu_path" class="col-sm-10">
            <p class="form-control-static">{{ datarepeater.fmu_path }}</p>
        </div>
    </div>

    <hr />

    <panel id="signals" [title]="'Signals'" [open]="false">
        <div class="form-group" *ngIf="editing">
            <div class="col-sm-7 col-md-8">
                <div class="input-group">
                    <button (click)="addNewSignal()" class="btn btn-default">
                        New signal
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="constraint-container">
            <div class="panel panel-default constraint-panel" *ngFor="let signal of datarepeater.signals; let i = index">
                <div class="panel-heading btn-panel-heading">
                    <button class="btn btn-default btn-sm pull-right" title="Remove signal" (click)="removeSignal(signal)" *ngIf="editing">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <div class="panel-body">
                    <dtp-signal
                        [signal]="signal"
                        [editing]="editing"
                        [formGroup]="formGroup.get('signals').at(i)"
                        [signaltypes]="config.signalDataTypes"
                    ></dtp-signal>
                </div>
            </div>
        </div>
    </panel>
</div>
