<div class="form-horizontal" [formGroup]="formGroup">
    <div class="form-group">
        <label class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
            <p *ngIf="!editing" class="form-control-static">{{dtptype.name}}</p>
            <input *ngIf="editing" [(ngModel)]="dtptype.name"  formControlName="name" class="form-control">
            <div *ngIf="formGroup.hasError('required', 'name')" class="alert alert-danger">This field is required.</div>
            <div *ngIf="formGroup._parent.hasError('notUnique') && formGroup._parent.errors.notUnique === dtptype.name" class="alert alert-danger">Name is not unique.</div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">capture_output</label>
        <div class="col-sm-9">
            <input [disabled]="!editing" [(ngModel)]="dtptype.capture_output" formControlName="capture_output" type="checkbox">
        </div>
    </div>

    <!-- CO-SIMULATION EXPERIMENT -->
    <div class="form-group">
        <div *ngIf="showFirstTimeSetupBtns && editing" class="col-sm-9">
            <span class="input-group-btn">
                <button type="button" (click)="doFirstTimeSetup(false)" class="btn btn-default" [disabled] = "this.formGroup.parent.hasError('notUnique') && this.formGroup.parent.errors.notUnique === this.dtptype.name">
                    New setup
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </span>
            <span class="input-group-btn">
                <button type="button" (click)="doFirstTimeSetup(true)" class="btn btn-default" [disabled] = "this.formGroup.parent.hasError('notUnique') && this.formGroup.parent.errors.notUnique === this.dtptype.name">
                    Setup from experiment
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </span>   
        </div>
        <div *ngIf="showExperimentSelect && editing">
            <label class="col-sm-3 control-label">Choose experiment: </label>
            <select [(ngModel)]="baseExperimentPath" [ngModelOptions]="{standalone:true}" class="form-control col-sm-9" (change)="onBaseExperimentChanged()">
                <option *ngFor="let path of experimentsPaths" [ngValue]="path">{{getExperimentNameFromPath(path, '2')}}</option>
            </select>
        </div>
    </div>

    <div *ngIf="!showFirstTimeSetupBtns && !showExperimentSelect">
        <panel [title]="'Overview'" [open]="false">
            <mm-overview #overview [(path)]="dtptype.multiModelPath"></mm-overview>
        </panel>
        
        <panel *ngIf="editing" id="Configuration" [title]="'Configuration'" [open]="false">
            <mm-configuration [(path)]="dtptype.multiModelPath" (change)="overview.parseConfig()"></mm-configuration>
        </panel>
    </div>
</div>