<div class="form-horizontal" [formGroup]="formGroup">
    <button class="btn btn-default" title="Edit server" (click)="editing = true" *ngIf="!editing">
        <span class="glyphicon glyphicon-edit"></span>
        Edit
    </button>
    <button class="btn btn-default" title="Save server" (click)="onSaveServer()" *ngIf="editing" [disabled]="!formGroup.valid">
        <span class="glyphicon glyphicon-floppy-saved"></span>
        Save
    </button>

	<hr>

    <div class="form-group">
        <label class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
            <p *ngIf="!editing" class="form-control-static">{{server.name}}</p>
            <input *ngIf="editing" (change)="onChangeName($event.target.value)" formControlName="name" class="form-control">
            <div *ngIf="formGroup.hasError('required', 'name')" class="alert alert-danger">This field is required.</div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Username</label>
        <div class="col-sm-9">
            <p *ngIf="!editing" class="form-control-static">{{server.username}}</p>
            <input *ngIf="editing" (change)="onChangeUsername($event.target.value)" formControlName="username" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Password</label>
        <div class="col-sm-9">
            <p *ngIf="!editing" class="form-control-static">{{server.password}}</p>
            <input *ngIf="editing" (change)="onChangePassword($event.target.value)" formControlName="password" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Host</label>
        <div class="col-sm-9">
            <p *ngIf="!editing" class="form-control-static">{{server.host}}</p>
            <input *ngIf="editing" (change)="onChangeHost($event.target.value)" formControlName="host" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Port</label>
        <div class="col-sm-9">
            <p *ngIf="!editing" class="form-control-static">{{server.port}}</p>
            <input *ngIf="editing" (change)="onChangePort($event.target.value)" formControlName="port" class="form-control">
            <div *ngIf="formGroup.hasError('invalidInteger', 'port')" class="alert alert-danger">Only integers are allowed.</div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Embedded</label>
        <div class="col-sm-9">
            <input [disablecontrol]="!editing" (change)="onChangeEmbedded($event.target.checked)" formControlName="embedded" type="checkbox">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Type</label>
        <div class="col-sm-9">
            <select *ngIf="editing" [(ngModel)]="server.type" [ngModelOptions]="{standalone: true}" class="form-control col-sm-9">
                <option *ngFor="let serverType of servertypes" >{{serverType}}</option>
            </select>
            <p *ngIf="!editing" class="form-control-static">{{server.type}}</p>
        </div>
    </div>
</div>