<div class="form-horizontal" [formGroup]="formGroup">
    <div class="form-group">
        <label class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
            <p *ngIf="!editing" class="form-control-static">{{dtpType.name}}</p>
            <input *ngIf="editing" [(ngModel)]="dtpType.name"  formControlName="name" class="form-control">
            <div *ngIf="formGroup.hasError('required', 'name')" class="alert alert-danger">This field is required.</div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">
            Tasks
        </label>
        <div *ngIf="editing && showSelectGroup" class="input-group">
            <select [(ngModel)]="selectedTask" [ngModelOptions]="{standalone: true}" class="form-control">
                <option *ngFor="let taskName of getRemaningTasksNames()" [value]="taskName">{{taskName}}</option>
            </select>
            <span class="input-group-btn">
                <button type="button" (click)="addTask()" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </span>    
        </div>
        <div class="col-sm-9" *ngFor="let task of dtpType.tasks">
            <div *ngIf="editing" class="input-group">
                <p class="form-control">{{getTaskName(task)}}</p>
                <span class="input-group-btn">
                    <button type="button" (click)="removeTask(task)" class="btn btn-default">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>