<div class="form-horizontal" [formGroup]="formGroup">
    <button class="btn btn-default" title="Edit configuration" (click)="editing = true" *ngIf="!editing">
        <span class="glyphicon glyphicon-edit"></span>
        Edit
    </button>
    <button class="btn btn-default" title="Save configuration" (click)="onSaveConfiguration()" *ngIf="editing" [disabled]="!formGroup.valid">
        <span class="glyphicon glyphicon-floppy-saved"></span>
        Save
    </button>

	<hr>
   
    <div class="form-group">
        <label class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
            <p *ngIf="!editing" class="form-control-static">{{configuration.name}}</p>
            <input *ngIf="editing" (change)="onChangeName($event.target.value)"  formControlName="name" class="form-control">
            <div *ngIf="formGroup.hasError('required', 'name')" class="alert alert-danger">This field is required.</div>
        </div>
    </div>

    <panel id="tasks" [title]="'Tasks'" [open]="false">

        <div class="form-group" *ngIf= "editing">
            <div class="col-sm-7 col-md-8">
                <div class="input-group">
                    <select [(ngModel)]="newTask" [ngModelOptions]="{ standalone: true }" class="form-control">
                        <option *ngFor="let task of taskConstructors" [ngValue]="task">{{getTaskName(task) }}</option>
                    </select>
                    <span class="input-group-btn">
                        <button type="button" (click)="addNewTask()" class="btn btn-default" [disabled]="!newTask">
                            <span class="glyphicon glyphicon-plus"></span>
                            Add Task
                        </button>
                    </span>
                </div>
            </div> 
        </div>
 
        <div class="constraint-container">
            <div class="panel panel-default constraint-panel" *ngFor="let task of configuration.tasks; let i = index">
                <div class="panel-heading btn-panel-heading">
                    <button class="btn btn-default btn-sm pull-right" title="Remove task" (click)="removeTask(task)" *ngIf= "editing">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>

                    <h4 class="panel-title" style="text-align: left;">{{ getTaskName(task) }}</h4>
                </div>
                <div class="panel-body">
                    <maestro [maestro]="task" [editing] = "editing" [config]="config" [formGroup]="formGroup.get('tasks').at(i)" *ngIf="isTaskMaestro(task)"></maestro>
                    <data-repeater [datarepeater]="task" [editing] = "editing" [formGroup]="formGroup.get('tasks').at(i)" [config]="config" *ngIf="isTaskDatarepeater(task)"></data-repeater>
                </div>
            </div>
        </div>
    </panel>
</div>