<div class="form-horizontal" [formGroup]="formGroup">
    <button class="btn btn-default" title="Edit tool" (click)="editing = true" *ngIf="!editing">
        <span class="glyphicon glyphicon-edit"></span>
        Edit
    </button>
    <button class="btn btn-default" title="Save tool" (click)="onSaveTool()" *ngIf="editing" [disabled]="!formGroup.valid">
        <span class="glyphicon glyphicon-floppy-saved"></span>
        Save
    </button>

	<hr>

    <div class="form-group">
        <label class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
            <p *ngIf="!editing" class="form-control-static">{{tool.name}}</p>
            <input *ngIf="editing" (change)="onChangeName($event.target.value)" formControlName="name" class="form-control">
            <div *ngIf="formGroup.hasError('required', 'name')" class="alert alert-danger">This field is required.</div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Path</label>
        <div class="col-sm-9">
            <p *ngIf="!editing" class="form-control-static">{{tool.path}}</p>
            <file-browser *ngIf="editing" [basePath]="tool.path" [path]="tool.path" (pathChange)="setPath($event)"></file-browser>
            <div *ngIf="formGroup.hasError('required', 'path')" class="alert alert-danger">This field is required.</div>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-3 control-label">URL</label>
        <div class="col-sm-9">
            <p *ngIf="!editing" class="form-control-static">{{tool.url}}</p>
            <input *ngIf="editing" (change)="onChangeUrl($event.target.value)" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Type</label>
        <div class="col-sm-9">
            <p *ngIf="!editing" class="form-control-static">{{tool.type}}</p>
            <select *ngIf="editing" [(ngModel)]="tool.type" [ngModelOptions]="{standalone: true}" class="form-control">
                <option *ngFor="let key of keys" [value]="key">{{toolTypes[key]}}</option>
            </select>
        </div>
    </div>
</div>