<div class="form-horizontal" [formGroup]="formGroup">
    <div class="form-group">
        <label class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
            <p *ngIf="!editing" class="form-control-static">{{dtptype.name}}</p>
            <input *ngIf="editing" [(ngModel)]="dtptype.name"  formControlName="name" class="form-control">
            <div *ngIf="formGroup.hasError('required', 'name')" class="alert alert-danger">This field is required.</div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Path</label>
        <div class="col-sm-9">
            <p *ngIf="!editing" class="form-control-static">{{dtptype.path}}</p>
            <file-browser *ngIf="editing" [basePath]="dtptype.path" [path]="dtptype.path" (pathChange)="setPath($event)"></file-browser>
            <div *ngIf="formGroup.hasError('required', 'path')" class="alert alert-danger">This field is required.</div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Type</label>
        <div class="col-sm-9">
            <p *ngIf="!editing" class="form-control-static">{{dtptype.toolType}}</p>
            <select *ngIf="editing" [(ngModel)]="dtptype.toolType" formControlName="toolType" class="form-control">
                <option *ngFor="let key of keys" [value]="key">{{toolTypes[key]}}</option>
            </select>
            <div *ngIf="formGroup.hasError('required', 'toolType')" class="alert alert-danger">This field is required.</div>
        </div>
    </div>
</div>