<!DOCTYPE html>
<div class="input-group" id="text-input-elem">
    <input type="text" class="form-control input-sm" id="text">
    <span class="input-group-btn" id="fmuSpanBts">
            <button type="button" class="btn btn-default btn-sm" id="editOkButton">
                        <span id="editOkButton-icon" class="glyphicon"></span>
    </button>
    <button type="button" class="btn btn-default btn-sm" id="cancelButton">
                        <span class="glyphicon glyphicon-remove"></span>
    </button>
    </span>
</div>
