<h3>DSE Co-simulation</h3>

<div *ngIf="parseError">
    <div class="alert alert-danger alert-big">
        <button (click)="resetParseError()" type="button"
                style="float: right; border-radius: 50%; border: none; background-color: white;"><span
                class="glyphicon glyphicon-remove"></span></button>
        <p>Error: Could not run config.</p>
        <p>Message: {{parseError}}</p>
        <p>Path: {{path}}</p>
    </div>
</div>


<div *ngIf="!online" class="alert alert-danger">
    Co-Simulation Engine offline. No connection at {{url}}.
    <button type="button" class="btn btn-sm btn-default" (click)="onCoeLaunchClick()"><span
            class="glyphicon glyphicon-link"></span> Launch
    </button>
</div>
<div *ngIf="online" class="alert alert-success">
    Co-Simulation Engine, version {{version}}, online at {{url}}.
</div>

<div class="form-group">
    <div class="row">
        <div class="col" style="display: flex; align-items: center; justify-content: flex-start; margin-left: 1.5em;">
            <label for="dseThreadSlider" style="margin: 0;">Max threads for DSE:</label>
            <input id="dseThreadSlider" type="range" min="1" max="25" value="1" step="1" #dsethreadsslider
                   class="form-control" style="display: inline-block; width: 50%; margin: 0 0.5em; padding: 0;"
                   (input)="updateThreadCount(dsethreadsslider.value)">
            <p style="margin: 0;">{{threadCount}}</p>
        </div>
    </div>
</div>

<div class="form-group">
    <button type="button" [disabled]="!canRun()" (click)="runDse()" class="col-sm-3 col-md-2 btn btn-default">
        <span class="glyphicon glyphicon-play"></span> Simulate
    </button>
    <span class="col-sm-5 col-md-2 succeslabel" *ngIf="simsuccess"> Simulation successful</span>
    <span class="col-sm-5 col-md-2 failedlabel" *ngIf="simfailed">Simulation failed</span>
</div>