<div *ngIf="parseError">
	<div class="alert alert-danger alert-big">
		<p>Error: Could not parse config.</p>
		<p>Message: {{parseError}}</p>
		<p>Path: {{path}}</p>
	</div>
</div>

<form class="form-horizontal" (ngSubmit)="onMMSubmit()">
	<h3>Experiment Multi-model</h3>
	<div class="form-group">
   		<label class="col-md-3 control-label">Co-simulation experiment</label>
    	<div class="col-md-9">
			<p *ngIf="!editingMM" class="form-control-static">{{getMultiModelName()}}</p>
			<select *ngIf="editingMM"  [ngModel]="cosimConfig" (ngModelChange)="onConfigChange($event)"  [ngModelOptions]="{standalone:true}" class="form-control">
				<option *ngFor="let con of cosimConfig" [ngValue]="con">{{experimentName(con)}}</option>
			</select>

			<button *ngIf="!editingMM" class="btn btn-default" (click)="editingMM = true">
				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Set multi-model
			</button>
			<button *ngIf="editingMM" class="btn btn-default">
				<span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Save multi-model choice
			</button>
		</div>
	</div>
</form>

<hr>
<hr>


<form *ngIf="mmSelected" class="form-horizontal" (ngSubmit)="onSubmit()">
	<button *ngIf="!editing" class="btn btn-default" (click)="editing = true">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
    </button>
	<button *ngIf="editing" class="btn btn-default">
        <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Save
    </button>
	
		<h3>DSE Configuration Setup</h3>
		<h4>DSE Search Algorithms</h4>
		<div class="form-group">
			<label class="col-sm-5 col-md-4 control-label">Search Algorithm</label>
			<div class="col-sm-7 col-md-8">
				<p *ngIf="!editing" class="form-control-static">{{config.searchAlgorithm.getName()}}</p>
				<select *ngIf="editing" [ngModel]="config.searchAlgorithm.getName()" (ngModelChange)="onAlgorithmChange($event)" [ngModelOptions]="{standalone:true}"
						class="form-control">
					<option *ngFor="let algorithm of algorithms" [ngValue]="algorithm">{{algorithm.name}}</option>
				</select>
			</div>
		</div>

		<div *ngIf="config.searchAlgorithm.getName() == 'Genetic'">
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-5 col-md-4 control-label">Initial population</label>
					<div class="col-sm-7 col-md-8">
						<p *ngIf="!editing" class="form-control-static">{{config.searchAlgorithm.initialPopulation}}</p>
						<input *ngIf="editing" name="initialPopulation" [(ngModel)]="config.searchAlgorithm.initialPopulation" class="form-control">
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-5 col-md-4 control-label">Initial Population Distribution</label>
					<div class="col-sm-7 col-md-8">
						<p *ngIf="!editing" class="form-control-static">{{config.searchAlgorithm.initialPopulationDistribution}}</p>
						<select *ngIf="editing" [ngModel]="config.searchAlgorithm.initialPopulationDistribution" (ngModelChange)="setGeneticpopDist($event)" [ngModelOptions]="{standalone:true}"
								class="form-control">
							<option *ngFor="let pd of geneticPopulationDistribution" [ngValue]="pd">{{pd}}</option>
						</select>	
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-5 col-md-4 control-label">Mutation Probability</label>
					<div class="col-sm-7 col-md-8">
						<p *ngIf="!editing" class="form-control-static">{{config.searchAlgorithm.mutationProbability}}</p>
						<input *ngIf="editing" name="mutationProbability" [(ngModel)]="config.searchAlgorithm.mutationProbability" class="form-control">
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-5 col-md-4 control-label">Parent Selection Strategy</label>
					<div class="col-sm-7 col-md-8">
						<p *ngIf="!editing" class="form-control-static">{{config.searchAlgorithm.parentSelectionStrategy}}</p>
						<select *ngIf="editing" [ngModel]="config.searchAlgorithm.parentSelectionStrategy" (ngModelChange)="setParentSelectionStrategy($event)" [ngModelOptions]="{standalone:true}"
								class="form-control">
							<option *ngFor="let pss of geneticParentSelectionStrategy" [ngValue]="pss">{{pss}}</option>
						</select>	
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-5 col-md-4 control-label">Max Generations Without Improvement</label>
					<div class="col-sm-7 col-md-8">
						<p *ngIf="!editing" class="form-control-static">{{config.searchAlgorithm.maxGenerationsWithoutImprovement}}</p>
						<input *ngIf="editing" name="maxGenerationsWithoutImprovement" [(ngModel)]="config.searchAlgorithm.maxGenerationsWithoutImprovement" class="form-control">
					</div>
				</div>
			</div>
		</div>

		<hr>


		<h4>Experiment parameters</h4>
		<div *ngIf="config.multiModel != null" class="row">
			<div class="col-md-4">
				<h5><label>Instance</label></h5>

				<ul class="list-group">
					<a *ngFor="let instance of config.multiModel.fmuInstances" (click)="selectParameterInstance(instance)" [class.active]="selectedParameterInstance === instance"
						class="list-group-item">{{instance.fmu.name}}.{{instance.name}}</a>
				</ul>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-6">
						<h5><label>Parameters</label></h5>
					</div>
					<div *ngIf="selectedParameterInstance && editing" class="col-md-6">
						<div class="input-group">
							<select class="form-control input-sm" [(ngModel)]="newParameter" [ngModelOptions]="{standalone: true}">
								<option *ngFor="let parameter of getParameters(); let i=index" [ngValue]="parameter">{{parameter.name}}</option>
							</select>
							<span class="input-group-btn">
								<button type="button" (click)="addParameter()" class="btn btn-default btn-sm">
									<span class="glyphicon glyphicon-plus"></span> Add DSE parameter
							</button>
							</span>
						</div>
					</div>
				</div>

				<div *ngIf="selectedParameterInstance">
					<div *ngFor="let initialValue of getInitialValues(); let i=index; trackBy:customTrackBy" class="row">
						<div class="col-md-2">
							<p class="form-control-static">
								<span class="label label-info">{{getScalarTypeName(initialValue.scalarVariable.type)}}</span> {{initialValue.scalarVariable.name}}
								<span *ngIf="!initialValue.scalarVariable.isConfirmed" class="glyphicon glyphicon-info-sign pull-right" style="color: red"
									title="Variable is unconfirmed"></span>
							</p>
						</div>
						<div class="col-md-10">

							<!-- NEEDS TO CHECK IN DSE CONFIG FIRST. IF THERE, THEN READ THAT, OTHERWISE LOOK IN MM -->
							<div *ngIf="dseParamExists(selectedParameterInstance, initialValue.scalarVariable.name)">
								<p *ngIf="!editing" class="form-control-static">{{getDseParamValue(selectedParameterInstance, initialValue.scalarVariable.name)}}</p>
								<div *ngIf="editing" class="input-group">
									<input [value]="getDseParamValue(selectedParameterInstance, initialValue.scalarVariable.name)" (change)="setDSEParameter(selectedParameterInstance, initialValue.scalarVariable.name, $event.target.value)" class="form-control input-sm">
									<span class="input-group-btn">
										<button type="button" (click)="removeDSEParameter(selectedParameterInstance, initialValue.scalarVariable.name)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span>Remove DSE Parameter</button>
									</span>
								</div>
							</div>
							<div *ngIf="!dseParamExists(selectedParameterInstance, initialValue.scalarVariable.name)">
								<p *ngIf="!editing" class="form-control-static">{{initialValue.value}}</p>
								<div *ngIf="editing" class="input-group">
									<input [value]="initialValue.value" (change)="setDSEParameter(selectedParameterInstance, initialValue.scalarVariable.name, $event.target.value)" class="form-control input-sm">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<hr>


		<h4>Parameter Constraints <button *ngIf="editing" type="button" (click)="addParameterConstraint()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span>Add Constraint</button></h4>
		<div class="row" *ngFor="let p of config.paramConst">
			<div class ="col-md-6">
				<p *ngIf="!editing" class="form-control-static">{{getParameterConstraint(p)}}</p>
				<input *ngIf="editing" [ngModel]="getParameterConstraint(p)" (ngModelChange)="setParameterConstraint(p, $event)" [ngModelOptions]="{standalone:true}"
					class="form-control input-fixed-size">
			</div>
			<div class="col-md-1">
				<button *ngIf="editing" type="button" (click)="removeParameterConstraint(p)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span>Remove Constraint</button>
			</div>
		</div>


		<hr>


		<h4>External Script Objectives <button *ngIf="editing" type="button" (click)="addExternalScript()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span>Add External Script Objective</button> </h4>
		<div class="row">
			<div class="col-md-2"><label>Objective Name</label></div>
			<div class="col-md-2"><label>File Name</label></div>
			<div class="col-md-8"><label>Arguments</label></div>
		</div>

		<div class="row" *ngFor="let e of config.extScrObjectives">
			<div class = "col-md-2">
				<p *ngIf="!editing" class="form-control-static">{{getExternalScriptName(e)}}</p>
				<input *ngIf="editing" [ngModel]="getExternalScriptName(e)" (ngModelChange)="setExternalScriptName(e, $event)" [ngModelOptions]="{standalone:true}"
					class="form-control input-fixed-size input-sm">
				<button *ngIf="editing" type="button" (click)="removeExternalScript(e)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span>Remove External Script</button>
			</div>
			<div class = "col-md-2">
				<p *ngIf="!editing" class="form-control-static">{{getExternalScriptFilename(e)}}</p>
				<input *ngIf="editing" [ngModel]="getExternalScriptFilename(e)" (ngModelChange)="setExternalScriptFileName(e, $event)" [ngModelOptions]="{standalone:true}"
					class="form-control input-fixed-size input-sm">
			</div>
			<div class = "col-md-8">
				<div class="row" *ngFor="let p of getExternalScriptParameters(e)">
					<div class = "col-md-1">
						<p *ngIf="!editing" class="form-control-static">{{p.id}}</p>
						<input *ngIf="editing" [ngModel]="p.id" (ngModelChange)="setExternalScriptParameterId(e, p, $event)" [ngModelOptions]="{standalone:true}"
							class="form-control input-fixed-size input-sm">
					</div>
					<div class = "col-md-3">
						<p *ngIf="!editing" class="form-control-static">{{p.type}}</p>
						<select *ngIf="editing" [ngModel]="p.type" (ngModelChange)="setExternalScriptParameterType(e, p, $event)" [ngModelOptions]="{standalone:true}"
							class="form-control">
							<option *ngFor="let paramTp of externalScriptParamTp" [ngValue]="paramTp">{{paramTp}}</option>
						</select>
					</div>
					<div class = "col-md-4">
						<p *ngIf="!editing" class="form-control-static">{{p.value}}</p>
						<div *ngIf="editing && p.type=='constant'">
							<input *ngIf="editing" [ngModel]="p.value" (ngModelChange)="setExternalScriptParameterValue(e, p, $event)" [ngModelOptions]="{standalone:true}"
								class="form-control input-fixed-size input-sm">
						</div>
						<div *ngIf="editing && p.type=='simulation value'">
							<select *ngIf="editing" [ngModel]="p.value" (ngModelChange)="setExternalScriptParameterValue(e, p, $event)" [ngModelOptions]="{standalone:true}"
								class="form-control">
								<option *ngFor="let simVal of simulationValue" [ngValue]="simVal">{{simVal}}</option>
							</select>
						</div>
						<div *ngIf="editing && p.type=='model output'">
							<select *ngIf="editing" [ngModel]="p.value" (ngModelChange)="setExternalScriptParameterValue(e, p, $event)" [ngModelOptions]="{standalone:true}"
								class="form-control">
								<option *ngFor="let mmout of mmOutputs" [ngValue]="mmout">{{mmout}}</option>
							</select>
						</div>
						<button *ngIf="editing" type="button" (click)="removeExternalScriptParameter(e, p)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span>Remove Argument</button>
					</div>
				</div>
			</div>

				<div class = "col-md-1">
					<button *ngIf="editing" type="button" (click)="addExternalScriptParameter(e, '')" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span>Add Argument</button>
				</div>
		</div>

		<hr>

		<h4>Internal Function Objectives<button *ngIf="editing" type="button" (click)="addInternalFunction()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span>Add Internal Function Objective</button></h4>
		<div class="row">
			<div class="col-md-3"><label>Objective Name</label></div>
			<div class="col-md-4"><label>Output ID</label></div>
			<div class="col-md-3"><label>Objective Type</label></div>
		</div>

		<div class="row" *ngFor="let i of config.intFunctObjectives">
			<div class = "col-md-3">
				<p *ngIf="!editing" class="form-control-static">{{getExternalScriptName(i)}}</p>
				<input *ngIf="editing" [ngModel]="getExternalScriptName(i)" (ngModelChange)="setExternalScriptName(i, $event)" [ngModelOptions]="{standalone:true}"
					class="form-control input-fixed-size input-sm">
				<button *ngIf="editing" type="button" (click)="removeInternalFunction(i)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span>Remove Internal Function Objective</button>
			</div>
			<div class = "col-md-4">
				<p *ngIf="!editing" class="form-control-static">{{getInternalFunctionColumnName(i)}}</p>
				<select *ngIf="editing" [ngModel]="getInternalFunctionColumnName(i)" (ngModelChange)="setInternalFunctionColumnName(i, $event)" [ngModelOptions]="{standalone:true}"
					class="form-control">
					<option *ngFor="let mmout of mmOutputs" [ngValue]="mmout">{{mmout}}</option>
				</select>
			</div>
			<div class = "col-md-3">
				<p *ngIf="!editing" class="form-control-static">{{getInternalFunctionObjectiveType(i)}}</p>
				<select *ngIf="editing" [ngModel]="getInternalFunctionObjectiveType(i)" (ngModelChange)="setInternalFunctionObjectiveType(i, $event)" [ngModelOptions]="{standalone:true}"
								class="form-control">
					<option *ngFor="let ift of internalFunctionTypes" [ngValue]="ift">{{ift}}</option>
				</select>		
			</div>
		</div>


		<hr>

		<h4>Objective Constraints <button *ngIf="editing" type="button" (click)="addObjectiveConstraint()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span>Add Constraint</button> </h4>
		<div class="row" *ngFor="let o of config.objConst">
			<div class="col-md-6">
				<p *ngIf="!editing" class="form-control-static">{{getObjectiveConstraint(o)}}</p>
				<input *ngIf="editing" [ngModel]="getObjectiveConstraint(o)" (ngModelChange)="setObjectiveConstraint(o, $event)" [ngModelOptions]="{standalone:true}"
					class="form-control input-fixed-size input-sm">
			</div>
			<div class="col-md-1">
				<button *ngIf="editing" type="button" (click)="removeObjectiveConstraint(o)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span>Remove Constraint</button>
			</div>
		</div>


		<hr>


		<h4>Ranking</h4>
		<div class="row">
				<div class="col-md-3"><label>Ranking Method</label></div>
				<div *ngIf="getRankingMethod() == 'Pareto'" class="col-md-7"><label>Dimensions</label></div>
		</div>
		
		<div class="row">
			<div class = "col-md-3">
				{{getRankingMethod()}}
				<button *ngIf="editing && getRankingMethod() == 'Pareto'" type="button" (click)="addParetoDimension('','')" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span>Add Dimension</button>
			</div>
			<div class = "col-md-7">
			<div *ngIf="getRankingMethod() == 'Pareto'">
				<div class="row" *ngFor="let d of getRankingDimensions()">
					<div class = "col-md-5">
						<p *ngIf="!editing" class="form-control-static">{{getDimensionName(d)}}</p>
						<select *ngIf="editing"  [ngModel]="objNames" (ngModelChange)="onDimensionChange(d, $event)"  [ngModelOptions]="{standalone:true}" class="form-control">
							<option *ngFor="let o of objNames" [ngValue]="o">{{o.toString()}}</option>
						</select>
					</div>
					<div class = "col-md-2">
						<p *ngIf="!editing" class="form-control-static">{{getDimensionDirection(d)}}</p>
						<select *ngIf="editing" [ngModel]="getDimensionDirection(d)" (ngModelChange)="setDimensionDirection(d, $event)" [ngModelOptions]="{standalone:true}"
								class="form-control">
							<option *ngFor="let pd of paretoDirections" [ngValue]="pd">{{pd}}</option>
						</select>	
						<button *ngIf="editing" type="button" (click)="removeParetoDimension(d)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span>Remove Dimension</button>
					</div>
				</div>
			</div>
			</div>
		</div>

		<hr>
		
		<h4>Scenario<button *ngIf="editing" type="button" (click)="addScenario()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></button></h4>
		<div class="row" *ngFor="let s of config.scenarios">
			<div class="col-md-9">
				<p *ngIf="!editing" class="form-control-static">{{getScenario(s)}}</p>
				<input *ngIf="editing" [ngModel]="getScenario(s)" (ngModelChange)="setScenario(s, $event)" [ngModelOptions]="{standalone:true}"
					class="form-control input-fixed-size input-sm">
				<button *ngIf="editing" type="button" (click)="removeScenario(s)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
			</div>
		</div>
		
		<hr>



	<button *ngIf="!editing" class="btn btn-default" (click)="editing = true">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
    </button>
	<button *ngIf="editing" class="btn btn-default">
        <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Save
    </button>
</form>

<hr>

<h3>DSE Co-simulation</h3>

<div *ngIf="!online" class="alert alert-danger">
    Co-Simulation Engine offline. No connection at {{url}}.
    <button type="button" class="btn btn-sm btn-default" (click)="onCoeLaunchClick()"><span class="glyphicon glyphicon-link"></span> Launch</button>
</div>
<div *ngIf="online" class="alert alert-success">
    Co-Simulation Engine, version {{version}}, online at {{url}}.
</div>


<div class="form-group">
    <button type="button" [disabled]="!canRun()" (click)="runDse()" class="btn btn-default">
        <span class="glyphicon glyphicon-play"></span> Simulate
    </button>
</div>