<div class="input-group">
    <input [ngModel]="path" (ngModelChange)="onChange($event)" type="text" class="form-control input-sm">

    <span *ngIf="platform != 'darwin'" class="input-group-btn">
        <button type="button" (click)="browseFile()" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-file"></span> File
        </button>
        <button type="button" (click)="browseDirectory()" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-folder-open"></span> Folder
        </button>
    </span>

    <span *ngIf="platform == 'darwin'" class="input-group-btn">
        <button type="button" (click)="browse()" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-file"></span>
            <span class="glyphicon glyphicon-folder-open"></span>
            File/Folder
        </button>
    </span>
</div>