
.into-cps-icon-rtt-test-procedure {
    background: url("icons/test_procedure.png");
    background-repeat: no-repeat;
}

.into-cps-icon-rtt-mbt-test-procedure {
    background: url("icons/modelbased_test_procedure.png");
    background-repeat: no-repeat;
}

.into-cps-icon-rtt-mbt-generate {
    background: url("icons/mbt_generate.png");
    background-repeat: no-repeat;
}

.into-cps-icon-rtt-txt {
    background: url("icons/txt.png");
    background-repeat: no-repeat;
}

.into-cps-icon-rtt-conf {
    background: url("icons/source_rtt_conf.png");
    background-repeat: no-repeat;
}

.into-cps-icon-rtt-tla {
    background: url("icons/rtt-tla.png");
    background-repeat: no-repeat;
}

.into-cps-icon-rtt-log {
    background: url("icons/rtt-log.png");
    background-repeat: no-repeat;
}

.into-cps-icon-rtt-html {
    background: url("icons/html.png");
    background-repeat: no-repeat;
}

.into-cps-icon-rtt-file {
    background: url("icons/rtt-file.png");
    background-repeat: no-repeat;
}

.into-cps-icon-rtt-run {
    background: url("icons/run.png");
    background-repeat: no-repeat;
}

.into-cps-icon-rtt-vsi-tick {
    background: url("icons/vsi-tick.png");
    background-repeat: no-repeat;
}
