.glyphicon.glyphicon-one-fine-dot:before {
    content: "\25cf";
    font-size: 1.0em;
    vertical-align: 0.1em;
    }
    
.link-button{
    display: block;
    padding: 10px 15px;
    color: #337ab7;
    background-color: transparent;
}

.link-button:focus, .link-button:hover{
    text-decoration: none;
    background-color: #eee;
}