mm-configuration a {
    cursor: pointer;
}

mm-configuration label.list-group-item {
    font-weight: normal;
}

mm-configuration label.list-group-item:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

dse-overview .input-group,
coe-configuration .input-group {
    display: block;
}

dse-overview select,
dse-overview input,
mm-configuration select.input-fixed-size,
mm-configuration input.input-fixed-size,
coe-configuration select,
coe-configuration input {
    width: 200px !important;
}

dse-overview input[type=radio],
dse-overview input[type=checkbox],
mm-configuration input[type=radio],
mm-configuration input[type=checkbox],
coe-configuration input[type=radio],
coe-configuration input[type=checkbox] {
    width: auto !important;
}

zero-crossing select,
bounded-difference select {
    width: auto !important;
    min-width: 200px;
}

coe-configuration .constraint-container {
    display: flex;
    flex-wrap: wrap;
}

coe-configuration .constraint-panel {
    width: 45%;
    min-width: 300px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

coe-configuration a {
    cursor: pointer;
    color: black;
}

dse-overview .alert,
mm-configuration .alert,
coe-configuration .alert {
    padding: 5px;
    margin-bottom: 0;
    border-radius: 0 0 4px 4px;
    width: 200px;
    margin-top: -4px;
}
dse-overview .alert-standalone,
mm-configuration .alert-standalone,
coe-configuration .alert-standalone {
    margin-top: 0;
    border-radius: 4px;
}

dse-overview .alert-big,
mm-configuration .alert-big,
coe-configuration .alert-big {
    padding: 15px;
    width: 100%;
    margin-top: 0;
    border-radius: 4px;
}

.glyphicon.glyphicon-one-fine-dot:before {
    content: "\25cf";
    font-size: 1.0em;
    vertical-align: 0.1em;
    }
    