<div class="form-horizontal" [formGroup]="formGroup">
    <div class="form-group">
        <div class="form-forizontal">
            <div *ngIf="editing" class="form-group">
                <label class="col-md-4 col-sm-5 control-label" style="text-align: right">Filter</label>
                <input #box (keyup)="onLiveStreamKey($event)" class="col-sm-7 col-md-8 form-control">
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-5 col-md-4 control-label">Name:</label>
                <p *ngIf="!editing" class="form-control-static col-sm-7 col-md-8">{{graph.title}}</p>
                <input *ngIf="editing" [(ngModel)]="graph.title" name="title" class="form-control col-sm-7 col-md-8">
            </div>
            <div class="form-group">
                <label class="col-sm-5 col-md-4 control-label">External Window</label>
                <div class="checkbox col-sm-7 col-md-8">
                    <label>
                                <input type="checkbox" [disabled]="!editing" name="externalWindow" [checked]="graph.externalWindow"
                        [(ngModel)]="graph.externalWindow" >
                    </label>
                </div>
            </div>
            <div class="form-group" *ngFor="let instance of config.multiModel.fmuInstances">
                <label class="col-sm-5 col-md-4 control-label">{{instance.fmu.name}}.{{instance.name}}</label>
                <div class="col-sm-7 col-md-8">
                    <div *ngFor="let output of (editing ? getOutputs(instance.fmu.scalarVariables) : restrictToCheckedLiveStream(instance,getOutputs(instance.fmu.scalarVariables)) )">

                        <div class="checkbox" *ngIf="output.name.includes(liveStreamSearchName)">
                            <label>
                                        <input type="checkbox"
                                                [disabled]="!editing"
                                                [checked]="isLivestreamChecked(instance, output)"
                                                (change)="onLivestreamChange($event.target.checked, instance, output)">
                                
                                                <span *ngIf="isLocal(output)" class="text-warning" style="color:#f0ad4e!important" title="Name: {{output.name}}, Causality: {{output.causality}}, Type: {{getScalarVariableTypeName(output.type)}}">{{output.name}}</span>
                                                <span *ngIf="!isLocal(output)" title="Name: {{output.name}}, Causality: {{output.causality}}, Type: {{getScalarVariableTypeName(output.type)}}">{{output.name}}</span>
                                    </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>