<div class="form-horizontal" [formGroup]="formGroup">
    <div class="form-group">
        <label class="col-sm-3 control-label">ID</label>
        <div class="col-sm-9">
            <p *ngIf="!editing" class="form-control-static">{{constraint.id}}</p>
            <input *ngIf="editing" [(ngModel)]="constraint.id" name="id" class="form-control">
            <div *ngIf="formGroup.hasError('required', 'id')" class="alert alert-danger">This field is required.</div>
            <div *ngIf="formGroup._parent.hasError('notUnique') && formGroup._parent.errors.notUnique === constraint.id" class="alert alert-danger">ID is not unique.</div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Base</label>
        <div class="col-sm-9">
            <p *ngIf="!editing" class="form-control-static">{{constraint.base}}</p>
            <input *ngIf="editing" [(ngModel)]="constraint.base" name="base" class="form-control">
            <div *ngIf="formGroup.hasError('required', 'base')" class="alert alert-danger">This field is required.</div>
            <div *ngIf="formGroup.hasError('invalidInteger', 'base')" class="alert alert-danger">Only integers are allowed.</div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Rate</label>
        <div class="col-sm-9">
            <p *ngIf="!editing" class="form-control-static">{{constraint.rate}}</p>
            <input *ngIf="editing" [(ngModel)]="constraint.rate" name="rate" class="form-control">
            <div *ngIf="formGroup.hasError('required', 'rate')" class="alert alert-danger">This field is required.</div>
            <div *ngIf="formGroup.hasError('invalidInteger', 'rate')" class="alert alert-danger">Only integers are allowed.</div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Start Time</label>
        <div class="col-sm-9">
            <p *ngIf="!editing" class="form-control-static">{{constraint.startTime}}</p>
            <input *ngIf="editing" [(ngModel)]="constraint.startTime" name="startTime" class="form-control">
            <div *ngIf="formGroup.hasError('required', 'startTime')" class="alert alert-danger">This field is required.</div>
            <div *ngIf="formGroup.hasError('invalidInteger', 'startTime')" class="alert alert-danger">Only integers are allowed.</div>
        </div>
    </div>
</div>