<style>
	.box {
		border-radius: 5px;
		border: 1px solid lightgray;
		padding-left: 10px;
		padding-right: 10px;
		min-width: auto;
		max-width: fit-content;
		height: fit-content;
	}
</style>
<form class="form-horizontal" (ngSubmit)="onSubmit()">
    <button *ngIf="!editing" class="btn btn-default" id="btn-edit" (click)="editing = true">
        <span class="glyphicon glyphicon-edit"></span> Edit
    </button>
	<button *ngIf="editing" class="btn btn-default" id="btn-save">
        <span class="glyphicon glyphicon-floppy-saved"></span> Save
	</button>

	<hr>
	
	<div>
		<div class="box" style="margin-bottom: 10px;">
			<h4>Multi-model</h4>
			<div class="form-group">
				<div class="container-fluid">
					<div class="row row-no-gutters">
						<label style="margin-right: 10px; text-align: left;" class="control-label">Co-simulation experiment: </label>
						<p *ngIf="!editing" class="form-control-static" style="white-space: nowrap; display: inline-block;"><span>{{getNameOfSelectedExperiment()}}</span></p>
						<select *ngIf="editing" [(ngModel)]="experimentPath" (ngModelChange)="onExperimentPathChanged($event)"  [ngModelOptions]="{standalone:true}" class="form-control">
							<option *ngFor="let path of experimentsPaths" [ngValue]="path">{{getExperimentNameFromPath(path, '2')}}</option>
						</select>
					</div>
		
					<div class="row row-no-gutters">
						<label style="text-align: left;" class="control-label"><input [disabled]="!editing" type="checkbox" style="float:right; margin-left: 10px;" [checked]="usePriorExperiment" (change)="usePriorExperiment = !usePriorExperiment"><span>Use prior experiment: </span></label>
					</div>
					<div class="row row-no-gutters">
						<p *ngIf="editing && cantLocatePriorExperiment" style="font-size:85%; color:red;"><span>Unable to locate {{getExperimentNameFromPath(priorExperimentPath, '3')}}</span></p>
						<select *ngIf="usePriorExperiment && editing" [(ngModel)]="priorExperimentPath" (ngModelChange)="onPriorExperimentPathChanged($event)" [ngModelOptions]="{standalone:true}" class="form-control">
							<option *ngFor="let path of priorExperimentsPaths" [ngValue]="path">{{getExperimentNameFromPath(path, '1')}}</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		
		<div class="box" style="margin-bottom: 10px;">
			<h4>Input Port Reactivity</h4>
			<div class="table-responsive">
				<table class="table">
				  <thead>
					<tr>
					  <th>Port</th>
					  <th>Reactivity</th>
					</tr>
				  </thead>
				  <tbody>
					<tr *ngFor="let entry of portsToReactivity | keyvalue" > 
					  <td>
						<p>{{entry.key}}</p>
					  </td>
					  <td>
						<select *ngIf="editing" [ngModel]="entry.value" (ngModelChange)="onReactivityChanged(entry.key, $event)" [ngModelOptions]="{standalone:true}" class="form-control">
							<option *ngFor="let reactivity of reactivityKeys" [ngValue]="reactivity">{{reactivity}}</option>
						</select>
						<p *ngIf="!editing">{{entry.value}}</p>
					  </td>
					</tr>
				  </tbody>
				</table>
			</div>
		</div>
	
		<div class="box" style="margin-bottom: 10px;">
			<h4>Simulation Environment Parameters</h4>
			<div class="form-group">
				<div class="container-fluid">
					<div class="row row-no-gutters" style="margin-bottom: 5px;">
						<label style="margin-right: 10px; text-align: left;" class="control-label">Start time: </label>
						<p *ngIf="!editing" class="form-control-static" style="display: inline-block;">{{simEnvParams.startTime}}</p>
						<input *ngIf="editing" step="0.01" min="0" type="number"  [ngModelOptions]="{standalone:true}" [(ngModel)]="simEnvParams.startTime">
					</div>
					<div class="row row-no-gutters" style="margin-bottom: 5px;">
						<label style="margin-right: 10px; text-align: left;" class="control-label">End time: </label>
						<p *ngIf="!editing" class="form-control-static" style="display: inline-block;">{{simEnvParams.endTime}}</p>
						<input *ngIf="editing" step="0.01" min="0" type="number" [ngModelOptions]="{standalone:true}" [(ngModel)]="simEnvParams.endTime">
					</div>
					<div class="row row-no-gutters" style="margin-bottom: 5px;">
						<label style="margin-right: 10px; text-align: left;" class="control-label">Step size: </label>
						<p *ngIf="!editing" class="form-control-static" style="display: inline-block;">{{simEnvParams.stepSize}}</p>
						<input *ngIf="editing" step="0.01" min="0" type="number" [ngModelOptions]="{standalone:true}" [(ngModel)]="simEnvParams.stepSize">
					</div>
					<div class="row row-no-gutters" style="margin-bottom: 5px;">
						<label style="margin-right: 10px; text-align: left;" class="control-label">Absolute convergence tolerance: </label>
						<p *ngIf="!editing" class="form-control-static" style="display: inline-block;">{{simEnvParams.convergenceAbsoluteTolerance}}</p>
						<input *ngIf="editing" step="0.01" min="0" type="number" [ngModelOptions]="{standalone:true}" [(ngModel)]="simEnvParams.convergenceAbsoluteTolerance">
					</div>
					<div class="row row-no-gutters" style="margin-bottom: 5px;">
						<label style="margin-right: 10px; text-align: left;" class="control-label">Relative convergence tolerance: </label>
						<p *ngIf="!editing" class="form-control-static" style="display: inline-block;">{{simEnvParams.convergenceRelativeTolerance}}</p>
						<input *ngIf="editing" step="0.01" min="0" type="number" [ngModelOptions]="{standalone:true}" [(ngModel)]="simEnvParams.convergenceRelativeTolerance">
					</div>
					<div class="row row-no-gutters" style="margin-bottom: 5px;">
						<label style="margin-right: 10px; text-align: left;" class="control-label">Convergence attempts: </label>
						<p *ngIf="!editing" class="form-control-static" style="display: inline-block;">{{simEnvParams.convergenceAttempts}}</p>
						<input *ngIf="editing" step="0.01" min="0" type="number" [ngModelOptions]="{standalone:true}" [(ngModel)]="simEnvParams.convergenceAttempts">
					</div>
				</div>
			</div>
		</div>
	</div>
</form>