<coe-launch [required_coe_version] = "requiredMaestroVersion"></coe-launch>
<panel [title]="'Configuration'" [open]="sigverConfigurationService.isDefaultConfiguration">
    <sigver-configuration></sigver-configuration>
</panel>
<sigver-coe-interaction [generationresultspath] = "generationResultsPath" [verificationresultspath] = "verificationResultsPath"></sigver-coe-interaction>
<h5 *ngIf="!masterModel" class="text-warning">Cannot run simulation without a master model</h5>
<coe-simulation *ngIf="cosConfPath" [path]="cosConfPath" [mastermodel] = "masterModel" [resultsdir] = "executionResultsPath" [external_disable_simulation] = "disableSimulationBtn" [required_coe_version] = "requiredMaestroVersion"></coe-simulation>
