<style>
  .glyphicon.spinning {
    animation: spin 2s infinite linear;
  }

  @keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1.1) rotate(360deg); }
  }
</style>

<form class="form-horizontal">
  <panel [title]="'Generation'">
    <h5 *ngIf="!isCoeOnline" class="text-warning">Generation requires that the Co-Simulation Engine is running</h5>
    <div>
      <h4 style="margin-bottom: 5px;">Master model</h4>
      <pre *ngIf="isMasterModelValid" style="max-width: fit-content;">{{sigverConfigurationService.configuration.masterModel}}</pre>
      <pre *ngIf="!isMasterModelValid" style="width: 150px;"></pre>
    </div>

    <div>
      <button type="button" class="btn btn-sm btn-default" (click)="onGenerateMasterModelClick()" [disabled] = "!isCoeOnline || isGeneratingMasterModel">
        <span>Generate master model</span>
        <span *ngIf="isGeneratingMasterModel">Generating... </span>
        <span *ngIf="isGeneratingMasterModel" class="glyphicon glyphicon-refresh spinning"></span>
      </button>
    </div>
  </panel>

  <panel [title]="'Verification'">
    <h5 *ngIf="!isCoeOnline" class="text-warning">Verification requires that the Co-Simulation Engine is running</h5>
    <div>
      <label style="margin-right: 5px;">Successfully verified: </label>
      <span *ngIf="isVerified && !isVerificationFailed" class="glyphicon glyphicon-ok" style="color: green;"></span>
      <span *ngIf="isVerified && isVerificationFailed" class="glyphicon glyphicon-remove" style="color: red;"></span>
      <span *ngIf="!isVerified" class="glyphicon glyphicon-question-sign" style="color: blue;"></span>
    </div>

    <div *ngIf="isVerificationFailed">
      <p>{{verificationErrMsg}}</p>
    </div>

    <div>
      <button type="button" class="btn btn-sm btn-default" (click)="onVerifyClick()" [disabled]="!isCoeOnline || !isMasterModelValid || isVerifying">
        <span *ngIf="!isVerifying">Verify</span>
        <span *ngIf="isVerifying">Verifying... </span>
        <span *ngIf="isVerifying" class="glyphicon glyphicon-refresh spinning"></span>
      </button>
    </div>

    <hr>

    <video style="max-width: 100%;" *ngIf="videoUrl" [src]="videoUrl" controls></video>

    <div style="margin-top: 10px;">
      <button type="button" class="btn btn-sm btn-default" (click)="onVisualizeTracesClick()" [disabled]="!isCoeOnline|| !isMasterModelValid || isGeneratingTraces || !isVerificationFailed">
        <span *ngIf="!isGeneratingTraces" >Generate trace visualization</span>
        <span *ngIf="isGeneratingTraces">Generating... </span>
        <span *ngIf="isGeneratingTraces" class="glyphicon glyphicon-refresh spinning"></span>
      </button>
    </div>

  </panel>
</form>



