<coe-launch [required_coe_version]="requiredMaestroVersion"></coe-launch>
<panel [title]="'Scenario'" [open]="sigverConfigurationService.isDefaultConfiguration">
	<sigver-configuration></sigver-configuration>
</panel>
<sigver-coe-interaction [generationresultspath]="generationResultsPath" [verificationresultspath]="verificationResultsPath"></sigver-coe-interaction>

<panel [title]="'Simulation'" [open]="!sigverConfigurationService.isDefaultConfiguration">
	<h5 *ngIf="!cosConfPath" class="text-warning">Scenario needs to be configured</h5>
	<div *ngIf="cosConfPath">
		<panel [title]="'Configuration'" [open]="false">
			<coe-configuration [path]="cosConfPath" [allow_changing_algorithm]="false" (change)="sim.parseConfig()"></coe-configuration>
		</panel>
		<h5 *ngIf="!masterModel" class="text-warning">A master model needs to be generated before running the simulation.</h5>
		<coe-simulation
			#sim
			[path]="cosConfPath"
			[mastermodel]="masterModel"
			[resultsdir]="executionResultsPath"
			[external_disable_simulation]="disableSimulationBtn"
			[required_coe_version]="requiredMaestroVersion"
		></coe-simulation>
	</div>
</panel>
